*{
    font-family: sans-serif;
    color:white;
}
.navbar-nav{
    gap: 20px;
}
.recent-title:after{
    background-color: yellow;
    display: block;
    content: "";
    width: 100px;
    height: 3px;
    margin: 20px auto;
}
.card{
    background: rgb(68, 61, 61);
}
.card-header{
    background: rgba(223, 223, 3, 0.705);
}
.card-title{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.onepiece-title{
    margin-left: -28%;
    margin-top: 10px;
    font-size: 18px;
}
.onepiece-description{
    margin-left: -28%;
    font-size: 15px;
}
.more-button{
    font-size: 20px;
    text-decoration: none  ;
}
/* one piece page */
.watch-title{
    /* margin-left: 40%; */
    font-size: 20px;
    
}
.Category{
    font-size: 12px;
    margin-left: 10px;
}
.title-img{
    margin-left: 59%;
}
.download-icon{
    color: black;
}
.link-episode{
    color:#fff;
}
.link-episode:hover{
    color: yellow;
}
.footer{
    background: rgba(0, 0, 0, 0.35);
    position: relative;
    
}
.footer-text{
    margin-left: 10%;
}
.top-button{
    position: absolute;
    margin-left: 30%;
    
    
}
.onePieceDescription{
    font-size: 12px;
}
.episodeChangeButton{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}